<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>angular-menu-aim - Monkeys Demo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="../../src/flyout.css">
  </head>
  <body ng-app="app" ng-controller="MainController">

    <!-- Navigation-->
    <div class="desktop-nav hidden-xs container-fluid">
      <div class="row top-level-navigation">
        <div class="col-xs-12 navigation">
          <a href="#" ng-click="toggleFlyout()" class="btn btn-primary">Reveal Menu</a>
        </div>
      </div>

      <!--

      angular-menu-aim: To have code render a flyout menu for you, use the HTML structure
      below. You could manually type multipe <flyout-item> elements, but it is recommended
      to use Angular's ngRepeat directive to handle that. You need to keep the "track by $index"
      statement in the ngRepeat for the mouse over effects to work.

      flyout-navigation has three options that can be set:

      * visible: whether the menu is initially visible when the page loads (default: false)
      * tolerance: how much tolerance to allow when user is entering submenu (default: 500)
      * delay: how long (in milliseconds) to wait when user is entering submenu (default: 1000)

      -->
      <!-- Flyout Navigation-->
      <flyout-navigation
        visible="flyoutReveal">
        <flyout-item ng-repeat="item in categories track by $index">
          <flyout-link>
            {{ item.name }}
          </flyout-link>
          <flyout-popover>
            <img ng-src="{{ item.img }}"/>
          </flyout-popover>
        </flyout-item>
      </flyout-navigation>
    </div>

    <div class="container">

      <h1>angular-menu-aim Monkeys Demo</h1>
      <p>Click "Explore the Monkeys" above to start playing around w/ the dropdown. View source and search for "angular-menu-aim" to find all the integration points for this example.</p>

    </div>

    <!-- Required Libraries-->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>

    <!-- Optional Libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.compat.min.js"></script>

    <!-- Angular Code -->
    <script src="./app.js"></script>
    <script src="../../src/flyout-tpls.js"></script>
</body>
</html>
